
<h1>Conciertos</h1>
<table>
  <thead>
    <tr>
      <th>lugar</th>
      <th>Asistentes</th>
      <th>Conciertos en el mes</th>
      <th>Último concierto</th>
      <th>Duración</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @conciertos.each do |concierto| %>
      <tr>
        <td><%= concierto.lugar %></td>
        <td><%= concierto.personas_en_concierto %></td>
        <td><%= concierto.conciertos_en_el_mes %></td>
        <td><%= concierto.fecha_ultimo_concierto %></td>
        <td><%= concierto.duracion %></td>
        <td><%=link_to 'Mostrar', concierto%></td>
        <td> <%= link_to 'Editar', edit_concierto_path(concierto) %></td>
        <td> <%= link_to 'Eliminar concierto', concierto, method: :delete, data: {confirm: 'Estas seguro ?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Nuevo Concierto', new_concierto_path %>
